@import "tailwindcss";

@theme inline {
  /* Custom Colors */
  --color-primary: #1301b2;
  --color-primary-dark: #0e018a;
  --color-background-light: #ffffff;
  --color-background-subtle: #f8f8fc;
  --color-background-dark: #110f23;
  --color-surface-light: #f8f9fa;
  --color-surface-dark: #1a1d24;
  --color-text-main: #0e0c1d;
  --color-text-secondary: #4e45a1;
  --color-text-main-light: #111827;
  --color-text-main-dark: #f9fafb;
  --color-text-sec-light: #4b5563;
  --color-text-sec-dark: #9ca3af;

  /* Fonts */
  --font-display: "Inter", sans-serif;
  --font-sans: "Inter", sans-serif;

  /* Border Radius */
  --radius: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
  --radius-full: 9999px;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Hide scrollbar for chips */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}